Makefile
Makefile.in
aclocal
automake
config.h*
config.cache
config.log
config.status
configure.scan
aclocal.m4
config/*[^m4]
configure
lt*\.m4
libtool.m4
autom4te.cache
libtool
stamp-h1

*.pc

*.log
log
diffs
*.patch
*.tar.*

.DS_Store
._*
.deps
.libs
*.lo
*.la
*.o
*.dylib
*~
tests/*[^\.cc\|\.h|\.sh|\.in|\.out]
*_test
*_test[0-9]*
*.trs
